<link rel="stylesheet"  href="/node_modules/primeicons/primeicons.css" />
<link rel="stylesheet"  href="/node_modules/primeng/resources/themes/nova-light/theme.css" />
<link rel="stylesheet"  href="/node_modules/primeng/resources/primeng.min.css" />

<div style="border: 1px solid">
  <h1>
    Welcome to {{title | uppercase}} !
  </h1>
  <!-- <br> -->
  <!-- <app-form></app-form> -->
<!-- <div><app-findme></app-findme></div> -->
<!-- <h2><app-employee-list></app-employee-list></h2> -->
  <!-- <br>
  </div> -->
  <!-- <img width="200" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <div style="text-align:center"> -->
<!-- </div>
<h2>submitted Forms</h2>
First name:<br><input type="text" name="firstname" value="">
  <br>Last name:<br><input type="text" name="lastname" value="">
  <br><br>
  <input type="radio" name="gender" value="male" checked> Male
  <input type="radio" name="gender" value="female"> Female
  <input type="radio" name="gender" value="other"> Other  
  <div class="submit">
    <br><br>
      <button class="button">
            submit
      </button>
    </div>
  </div> -->
<a routerLink="/tiger">tiger</a>&nbsp;&nbsp;&nbsp;
<a routerLink="/lion/123">lion</a>
<app-tiger></app-tiger>
</div>
<!-- <router-outlet></router-outlet> -->